[2012-03-26 01:38] sripathikrishnan opened #1 "Parser performance not optimal ~1min for a 24MB file"
Profiler output for a 24MB dump.rdb file

[code]

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000  205.628  205.628 <string>:1(<module>)
        1    0.000    0.000    0.000    0.000 <string>:1(DecimalTuple)
       10    0.000    0.000    0.000    0.000 StringIO.py:119(read)
        1    0.000    0.000    0.000    0.

[2012-03-26 21:32] mezzatto opened #2 "Exception in read_zipmap_next_length"
When I run with "--command diff" or "-c memory" I get the following exception:

Traceback (most recent call last):
  File "./rdb", line 80, in <module>
    main()
  File "./rdb", line 77, in main
    parser.parse(dump_file)
  File "/home/danielm/Downloads/sripathikrishnan-redis-rdb-tools-94d13ef/rdbtools/parser.py", line 306, in parse
    self.read_object(f, data_type)
  File "/home/danielm/Downlo

[2012-03-27 13:57] #2 closed, assigned to nobody

[2012-04-09 22:28] sripathikrishnan opened #3 "Support RDB version 5"
Redis 2.6 will introduce rdb version 5 - which adds an 8 byte checksum at the end of file. The checksum is based on CRC64.

As a first step, we can simply ignore the checksum.

[2012-04-22 07:01] yoav-steinberg opened #4 "Expiry time incorrectly calculated"
Expiry time read from the rdb isn't converted correctly to micro seconds. Note that the "to_datetime()" function receives input in  micro seconds. Consider the following patch:

[code]

[2012-04-22 08:45] #4 closed, assigned to sripathikrishnan

[2012-04-24 15:39] #3 closed, assigned to nobody

[2012-04-24 15:41] sripathikrishnan opened #5 "Verify checksum in rdb file"
The dump file has a 8 byte CRC-32 checksum at the end of the file. The parser currently ignores the checksum. Instead, it should raise an exception if the checksum does not match.

[2012-04-24 15:52] sripathikrishnan opened #6 "Support RDB version 6 : New ziplist encoding"
Ziplists will soon start using variable encoding for 8 and 24 bit numbers. See https://github.com/antirez/redis/compare/zipenc

rdb-tools should add support for this version as soon as it moves to unstable / 2.6

[2012-04-24 20:25] #6 closed, assigned to nobody

[2012-04-24 22:36] antirez opened #7 "Support for RDB version 6"
Hello,

today the RDB version was bumped to 6, there are big changes in ziplist.c that now contains three new encodings. I would love to see the changes in your specification and support in redis-rdb-tools.

You can find the details at the top of ziplist.c, I updated the comments inside the file to reflect the new implementation, but I'll be very happy to reply to any question if needed.

Thanks,

[2012-04-25 02:10] #7 closed, assigned to nobody

[2012-05-21 17:25] JaromirDvoracek opened #8 "small fix in readme"
Hello, I just found your project and it would be great to have working git command - so instead of:
git checkout git@github.com:sripathikrishnan/redis-rdb-tools.git

something like:
git clone https://github.com/sripathikrishnan/redis-rdb-tools

Thanks :)

J.

[2012-05-21 17:31] #8 closed, assigned to nobody

[2012-07-05 09:10] solso opened #10 "long type is not supported"
Great tool, congrats.

I'm having a problem though. While doing a

[code]

On a redis 2.4.14 RDB file I get the following stacktrace:

Traceback (most recent call last):
  File "/usr/local/bin/rdb", line 9, in <module>
    load_entry_point('rdbtools==0.1.2', 'console_scripts', 'rdb')()
  File "/usr/local/lib/python2.6/dist-packages/rdbtools-0.1.2-py2.6.egg/rdbtools/cli/rdb.py", line 79, in main

[2012-07-09 17:35] #10 closed, assigned to nobody

[2012-09-13 10:10] sripathikrishnan opened #13 "Report memory used by a given redis key using the dump command on a running redis server"
See discussion on this mailing list https://groups.google.com/d/topic/redis-db/JaI-paZ0xoA/discussion

[2012-09-13 21:14] #13 closed, assigned to sripathikrishnan

[2012-09-20 06:35] sripathikrishnan opened #14 "Support Sharding : Add a command to split dump.rdb"
Sharding an existing redis database is a big pain. There isn't a way to do it without data loss. For example, exporting to json using any of the tools loses the TTL. There is also no good way to maintain set v/s list semantics. Writing a script to iterate over all keys is doable, but not appealing.

Using the rdbparser, we can split the dump file directly into several shards. This method will reta

[2012-09-25 18:31] sripathikrishnan opened #15 "Account for Embedded String Encoding when calculating memory used by a key"
Antirez has a new memory optimization branch - https://github.com/antirez/redis/compare/unstable...memopt

Smaller strings (less than 32 bytes) are inlined. This gets rid of an extra pointer, and so saves some memory (not a whole lot). Not a big deal, but something that we should account never the less.

This should be fixed only after the optimization branch reaches unstable/master branch.

[2012-10-17 14:46] moechofe opened #17 "Error while parsing my RDB file."
redis_version: **2.4.14**

[code]

[2012-10-24 20:34] rookie7799 opened #18 "regular expression doesn't match"
--command json -k "tw_id:111.*" dump.rdb

matches everything including:
"tw_id:524869205:username"

it should be matching:
"tw_id:11123456:username"
"tw_id:111:username"
"tw_id:111999:username"
etc

No?

[2012-10-29 10:57] #17 closed, assigned to sripathikrishnan

[2012-12-03 19:59] sripathikrishnan opened #19 "Create Script to find Top N keys by Used Memory"
A very frequent use case is finding top N keys by memory usage. For small databases, this is easily achieved by taking the csv file and sorting out.

But for databases with more than 64K keys, the csv approach fails because excel cannot handle that many rows.

The solution is to have a script that does a linear pass of all keys, maintain the top N keys by memory usage, and then finally print that

[2013-01-29 18:35] davedash opened #20 "Pypi"
Can you add this to pypi?

[2013-01-31 14:10] #20 closed, assigned to nobody

[2013-02-01 21:46] venkates opened #21 "Binary data output"
Hi, I store binary data as values for my keys. I see multiple bytes are combined into a single unicode character when I use rdb-tools to dump my data in json.

This is what I get when dumping from redis using redis-cli:

redis 127.0.0.1:6381> get "43542948993:Brown Home Improvement"
"\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x01Y\xcc\x9c\x

[2013-03-06 09:05] labelnolongerexists opened #22 "Invalid json format by missing comma when handling hash"
When hash's size is greater then 253, comma will be lost in the output json file.

Here's an example data. Copy it to a formatter and check it out.

{"2012-12-26 03:45":"139#0#117#1.0","2012-12-26 12:55":"461#0#383#1.0","2012-12-26 22:50":"244#0#214#1.0","2012-12-26 23:10":"205#0#186#1.0","2012-12-26 14:00":"424#0#357#1.0","2012-12-26 00:55":"195#0#139#1.0","2012-12-26 10:50":"354#0#290#1.0","2012

[2013-03-19 15:31] jsrawan-mobo opened #23 "Memory Dump for very large RDB files (> 30 GBs) is Slow"
For very large RDB, the memory dump can take upwards of 30 minutes.   Even slower, the "key" feature requires a sequential scan over the whole file.

Finally trying to further introspect a data structure like a hash, list, set to find out which field is taking up the most memory.   In my case I use celery as worker queue, and some tasks can be gigantic.

So I've made some enhancements such as the

[2013-05-07 22:25] akahn opened #27 "Include expiration in memory report"
In my analysis, I want to distinguish between keys that are set to expire and keys that are permanent. So for this I need expiration time to be included in the memory report.

[2013-05-08 18:04] brianantonelli opened #28 "ValueError: year is out of range"
I'm trying to dump my RDB to a JSON file filtered by a particular key. I get an error (ValueError: year is out of range) regardless of the key filter being applied. I'm running Python 2.7.1 on OSX 10.7.5

[code]

Error:

[code]

[2013-07-05 04:33] ejunzen opened #30 "i met a problem in parsering rdb file."
Hi， i like your rdb parser tools, it is very good!

[jun.zeng@YZSJHL21-221 redisbinlog]$ ~/redis/redis-2.4.16/src/redis-cli -p 63790
redis 127.0.0.1:63790> keys *
1) "page"
redis 127.0.0.1:63790> ZRANGE page 0 -1
1) "renren"
2) "sina"
3) "qq"
4) "taobao"

this my redis content, i check its rdb file:
[jun.zeng@YZSJHL21-221 redisbinlog]$ od -c dump_63790_0.rdb
0000000   R   E   D   I   S   0   0   0

[2013-07-29 21:08] danmaz74 opened #31 "AUTH support for redis-memory-for-key"
I just tried to use redis-memory-for-key on a redis instance that requires authentication, and apparently there is no way to do so.

PS thank you anyway for the tool!

[2013-07-31 08:21] #31 closed, assigned to nobody

[2013-12-04 07:46] congmo opened #38 "i found if the parameter "-f" is obtained, the parameter "-k" is not working"
[code]

i run this, but found that the parameter -k 'abc__*' is not working.then i check the source code :

[code]

if the parameter '-f' has assigned, filters is not given to RdbParser. i want to know why do so?

ps: please forgive my poor english...

[2014-02-05 04:59] YuePan opened #41 "Need Support for Python 3.3"
Here's the error message:

$ python setup.py build
Traceback (most recent call last):
  File "setup.py", line 3, in <module>
    from rdbtools import __version__
  File "c:\Users\yupan\code\redis-rdb-tools\rdbtools\__init__.py", line 2, in <m
odule>
    from rdbtools.callbacks import JSONCallback, DiffCallback, ProtocolCallback
  File "c:\Users\yupan\code\redis-rdb-tools\rdbtools\callbacks.py", li

[2014-02-21 15:39] hodgestar opened #42 "Reporting HTML template not included in PyPI download."
I suspect that's because it doesn't match anything in MANIFEST.in and so isn't included in the source distribution file.

[2014-04-07 14:47] sergunSpb opened #45 "Decode error while emitting redis protocol"
Hello,
i have hash in redis

[code]

When i try to convert rdb to redis protocol

[code]

, i get error

[code]

. I don't know python and i don't undestand why this error raise.
Is it bug ?

[2014-06-20 06:03] jackrg opened #46 "Readme should use 'sudo' on pip command"
The readme file directs the user to use the command 'pip install rdbtools'. It should be 'sudo pip install rdbtools', at least that was required in order to get it to work on my OSX system.

[2014-10-04 10:21] alonisser opened #50 "Add docs for redis-profiler command - I looked around and couldn't fine any.."
Is this just an internal part of rdb command? If so why is it exposed in the cli?

[2014-10-04 10:39] alonisser opened #51 "redis-memory-for-key installation issues"
Running redis-memory-for-key fails unless I independently install a "global" redis python lib:

I noticed the setup.py is missing a:

[code]

So I guess this is the issue. I can send a PR that solves this, if this is acceptable by you.

Also: Thanks for this great tool! saved me this week

[2014-10-31 17:32] emanuil-tolev opened #52 "Report progress of memory report"
Could we add reporting of progress (ideally and ETA, but that's a bonus) on STDERR? (I see we're using STDOUT for actual output.)

I know it's an OSS project and so PRs are welcome :) so this issue is to solicit opinions on whether it should be added / how to do so.

[2015-03-11 14:54] jlautala commented on #45
It is related to this PR (not sure if it is advancing):
https://github.com/sripathikrishnan/redis-rdb-tools/pull/39

[2015-04-17 09:40] vesper8 commented on #51
Thank you, I was having the same issue and installing redis via pip fixed it.

[2015-05-14 02:47] sagrada1788 opened #55 "LZF encoding bit is wrong in redis-2.8.13"
"""
Compressed Strings
First read the section “Length Encoding”, specifically the part when the first two bits are 11. In this case, the remaining 6 bits are read.
If the value of those 6 bits is 4, it indicates that a compressed string follows.
"""
Hint above is not correct.
In fact, in version 2.8.13, it is 'c3' means lzf compressed instead of 'c4'.
So "If the value of those 6 bits is 4" should

[2015-05-15 18:05] jvtm commented on #1
Simplistic patch here: https://github.com/jvtm/redis-rdb-tools/tree/lzf-speedup

Not creating a pull request just yet, I want to test this with real fresh dumps first. The related unit tests pass, but I didn't check if error reporting on invalid values behaves the same.

[2015-05-27 13:43] jessereynolds opened #57 "ValueError: year is out of range (memory report)"
Attempting a memory report on our redis dump files fails as per below

[code]

[2015-05-27 13:47] jessereynolds opened #58 "Abandonware?"
Is this abandonware?
- The last commit was nearly two years ago
- There are 16 open pull requests

@sripathikrishnan perhaps you'd consider asking for assistance in maintaining this most useful piece of open source software?

Failing that, time to go looking for forks, or alternatives, I guess.

[2015-05-27 18:01] sripathikrishnan commented on #58
Jesse, I could do with some help, for sure! I'm willing to add contributors
to the project. Or if you can let me know if particular pull requests make
sense, I'm willing to merge it and deploy it to PyPI.

I apologize for not looking into this.

--Sri

On 27 May 2015 at 19:17, Jesse Reynolds <notifications@github.com> wrote:

[2015-05-28 04:37] jessereynolds commented on #58
Great to hear you're up for some help. Perhaps some of the pull request contributors would be interested in helping out. I've actually only used redis-rdb-tools on a couple of ocassions, but it was invaluable for identifying memory leaks in the data structures.

[2015-05-28 05:55] nmmmnu commented on #58
well i did pull request 2 years ago, and since then i used the scrip i did
several times.

On Thu, May 28, 2015 at 7:37 AM, Jesse Reynolds <notifications@github.com>
wrote:

[2015-08-27 11:25] Crispy1975 opened #61 "Import of RDB file to redis-cli pipe fails"
Hi, while I can see this project hasn't been worked on for a while I thought it might be useful to document an issue we came across today while importing an RDB file from a read replica we run into a fresh AWS ElastiCache cluster.

[code]

If this is a simple fix or something we are doing wrong would love to know. We installed using `pip` and the command we ran was `rdb --command protocol ~/redisp

[2015-10-15 13:22] svolle commented on #58
I had to perform migrations of large redis dataset this summer and redis-rdb-tools has proven a very valuable help. I'd like to see it maintained and expanded. I'm willing to help if needed.

Thanks!

[2015-10-19 13:15] wdalmut commented on #61
:+1:

[2015-12-30 23:14] joshowen commented on #1
@sripathikrishnan  any thoughts on including @jvtm's patch?  It doesn't require python-lzf, but uses it if its there.

[2016-01-07 07:54] allan-simon commented on #58
same, this tool will be quite valuable for me and i'm willing to help

[2016-01-15 14:49] chester89 commented on #58
would love for this to be picked up again - this project is really great for looking at memory consumption on a key basis. and it works on Windows, which is a big deal for me

[2016-02-03 22:35] ryangraham commented on #61
I ran into the exact same error today. I was also piping to elasticache. This guy's fork fixed it for me.

`sudo pip install git+https://github.com/lesandr/redis-rdb-tools@1f7bcf366073adf5510ad18f1efe0bf46ae5e0c1 --upgrade`

I had to specify a commit in order to load more than one database. Something important was commented out in the next commit.

[2016-03-01 13:50] siawyoung commented on #61
I also faced the same problem with the UnicodeDecodeError and can confirm that the above fork works. Thanks a lot! @ryangraham

[2016-04-06 08:55] linlihai opened #66 "'ascii' codec can't decode"
Use command
`rdb --command protocol ~/Downloads/842a7322da7611e4-2016-04-06-11-28-00.rdb`

[code]

[2016-05-11 01:33] anthonator opened #67 "Support Redis 3.x"
Getting the following error when using Redis 3.2

[code]

with the dump file

[code]

[2016-05-31 18:10] chrisferry commented on #66
Shouldn't it be using UTF-8?  I'm having the same exact issue.

[2016-06-03 22:32] FrenchBen opened #68 "Don't convert anything if regex doesn't match"
I have a redis DB with some hash like `user:abc`.
Doing a dump like this:
[code]
ends up filling up the json file, with all data even though nothing should've matched.

What am I missing?

[2016-06-20 05:25] mabdullah353 commented on #66
I am stuck on this issue also, any solution for it ?

[2016-06-20 05:44] mabdullah353 opened #69 "Converting rdb to protocol"
`Traceback (most recent call last):
  File "/usr/local/bin/rdb", line 9, in <module>
    load_entry_point('rdbtools==0.1.6', 'console_scripts', 'rdb')()
  File "/usr/local/lib/python2.7/dist-packages/rdbtools/cli/rdb.py", line 82, in main
    parser.parse(dump_file)
  File "/usr/local/lib/python2.7/dist-packages/rdbtools/parser.py", line 306, in parse
    self.read_object(f, data_type)
  File "/us

[2016-07-06 11:10] shaneog commented on #67
Since this repository doesn't seem to be maintained, is there a fork somewhere that can deal with RDB v7?

[2016-07-14 07:19] mihu commented on #67
it's not perfect, but it works for my usecase https://github.com/mihu/redis-rdb-tools

[2016-07-14 11:02] shaneog commented on #67
@mihu Great. You should open a PR to this repo.

[2016-07-14 11:04] mihu commented on #67
What for? This repo is apparently unmaintained.

[2016-07-14 11:08] shaneog commented on #67
@mihu Agreed. However, this still remains the _primary_ repo for this tool. When people come here with issues they check the PR list to see if their issue has been fixed by someone else.
Opening a PR for RDB v7/Redis 3.x support will help others.

Furthermore, if [another committer takes over maintenance](https://github.com/sripathikrishnan/redis-rdb-tools/issues/58), having the PR open will help

[2016-07-14 11:15] mihu commented on #67
I think anyone willing to dig a little will find this issue as I did.

[2016-07-14 11:17] mihu commented on #58
@sripathikrishnan: just create separate account for this repo, add some folks keys, redirect this repo to that one a be done with it.

[2016-07-19 12:36] amarlot commented on #23
Have you been able to improve it ? Would it be possible to realease it ?
As for huge DB (about 50Go / 1 Millions keys) on very faster server it takes like half a day as it's monothread.

Thanks,
Alex

[2016-07-31 06:20] jsrawan-mobo commented on #23
I hadn't looked at this in a few years, seems like this project went stale.  The pull request I put up does work in quick mode like this if you want to give it a try

1) Generate a quick memory dump and index. In quick mode, only compressed_size is valid.
rdb.py -c memory -q --file redis_memory_quick.csv redis.rdb

2) After viewing, dump a hash/list to view contents of a offending key
rdb.py -c me

[2016-08-10 20:08] mihu commented on #58
Merged most of the pending PRs https://github.com/mihu/redis-rdb-tools/commits/master

[2016-08-10 20:09] mihu commented on #67
Merged most of the PRs to https://github.com/mihu/redis-rdb-tools

[2016-08-10 20:11] chester89 commented on #58
Awesome!

2016-08-10 23:08 GMT+03:00 mihu <notifications@github.com>:

--
Yours faithfully,
Gleb

[2016-08-13 12:06] oranagra commented on #58
Hi @sripathikrishnan ,
We (Redis Labs) would like to step up and maintain redis-rdb-tool. We plan to address the open issues and PRs, and have already added support for RDB v7 (Redis v3.2) in our private fork.
Considering that you're not longer actively working on the project, would you prefer to give us write permission to this repo or redirect to our fork?
Thanks,...

[2016-08-14 09:10] sripathikrishnan commented on #58
@oranagra thanks to you and Redis Labs for taking this up! I've sent you a collaborator invitation, so hopefully you should be set.

[2016-08-14 09:17] oranagra commented on #58
@sripathikrishnan thanks for the invite and for all the effort you invested in this project.
i'll try to quickly merge in the redis 3.2 support, and later find time to handle other PRs / Issues.

@mihu can you provide any input from the merges you already did? did you find / fix any issues with any of these PRs? did you review them to be sure they can be safely trusted?

[2016-08-14 12:12] mihu commented on #58
I did some review. It wasn't blind merging. One or two PR's had to be manually merged. The mshell feature is disputative though. Few of the commits on the top of my master branch are preparation for the python3 support.

[2016-08-14 14:40] oranagra commented on #58
i've pushed RDB v7 changes. which i tested on many many RDB files, but mostly in the context of the memory profiler. if anyone finds something i overlooked, please let me know.

next, i'll try to find time to go over what Miho merged and bring it in too.

[2016-08-17 18:07] oranagra commented on #67
redis 3.2 RDB v7 added with commit https://github.com/sripathikrishnan/redis-rdb-tools/commit/8ba5e9b68daf9517e1058c21cf866b12ba126f6e

@mihu FYI, i looked at the quicklist parsing in your fork and it seems to put the ziplists as list elements rather than unzipping them.

[2016-08-17 18:07] #67 closed

[2016-08-17 19:15] #19 closed

[2016-08-24 06:01] oranagra commented on #58
Hi all. as you may have noticed i'm trying to slowly close the gap and handle the PRs and Issues.
I assume the testing i do while merging isn't enough, and i don't think at this point i'll i can make sure i didn't break anything with the merge, especially platform specific issues (like python versions and library dependencies).

i created a stable release branch, so the merging of these into the m

[2016-08-24 06:01] #58 closed

[2016-08-24 08:18] emacsist opened #70 "Can't report rdb file for redis 3.2"
[code]

[2016-08-27 20:28] mihu commented on #70
The version 0.1.7 works for me with 3.2 dumps. Can you share the dump?

[2016-08-27 20:29] mihu commented on #69
Could you please try the latest 0.1.7?

[2016-08-28 04:46] oranagra commented on #70
this actually reproduces with any rdb file, it's a bug i created with my recent memory profiler improvements (not all memory records are keys), pushing a fix to both branches.
thanks.

[2016-08-28 04:50] #70 closed

[2016-08-31 20:46] oranagra commented on #22
i think the issue is already resolved, tested on a hash with 500 items and it seems to work fine.
please let me know if you think otherwise.

[2016-08-31 20:46] #22 closed

[2016-10-10 08:24] heera-jaiswal opened #72 "Throwing error when encoding None key"
It seems None(null) key is not handled while encoding
**Error Trace**
`Traceback (most recent call last):
  File "bin/rdb", line 9, in <module>
    load_entry_point('rdbtools==0.1.7', 'console_scripts', 'rdb')()
  File "/home/ec2-user/python-benchmark/env/local/lib/python2.7/dist-packages/rdbtools/cli/rdb.py", line 82, in main
    parser.parse(dump_file)
  File "/home/ec2-user/python-benchmark/env

[2016-10-10 09:18] oranagra commented on #72
@heera-jaiswal this was actually already resolved (see issue #70), but i haven't released a new version till now.
please check version 0.1.8.
thanks.

[2016-10-10 09:18] #72 closed

[2016-10-17 20:54] joshowen commented on #41
Is there any plan for python3 support?

[2016-10-18 08:29] oranagra commented on #41
@joshowen i don't have any plans currently, but i'll gladly accept pull requests.
@mihu i noticed you have a python3 branch in your repo, can you tell us what's the status there? i.e. how complete it is, and what's left to do?

[2016-10-18 15:41] mihu commented on #41
I think it's not complete yet. There were some failing corner tests. But most of the stuff in the branch is needed for python3 support anyway. I can try to finish it and prepare PR or you can just cherry-pick the commits you think are sane.

[2016-10-18 16:35] oranagra commented on #41
@mihu if you can, please try to finish and make a PR based on the current master branch.

i imagine the current master branch has some changes not in your branch, and also your branch may have things that didn't make it yet into the master, so depending on the extent of the changes needed it might require some work.

even if that's not 100% complete, as long as it doesn't add any regression on pyt

[2016-10-19 19:31] mihu commented on #41
@oranagra there you have it #73

[2016-10-20 17:18] oranagra commented on #41
@joshowen @YuePan python 3 support was added by @mihu and now merged to the master branch, please test it if you can.

[2016-10-20 17:18] #41 closed

[2016-10-26 03:33] VGHAZ opened #74 "key bytes is bigger than redis memory used"
I use `redis-memory-for-key` to analyse a key and find the bytes of the key is 589M. But my redis memory used just only 502M. I wonder the meaning of `bytes` of a key.

[2016-10-26 05:17] oranagra commented on #74
Can you please share some details about your key?
what type is it?, what encoding (OBJECT ENCODING key)?, number of fields or elements in the key, and if you know their sizes.
what redis version are you using? version and architecture (32bit or 64bit)?

can you try modifying redis_memory_for_key.py and pass your correct redis version to the redis_version argument of MemoryCallback?

[2016-10-26 16:59] VGHAZ commented on #74
Thanks for replying.

it is a sorted set with 3801696 members. My redis version is 3.2.4.

I can't find where is the redis_memory_for_key.py. Can you tell me where to find it?

![default](https://cloud.githubusercontent.com/assets/7985641/19735975/573d10f6-9be0-11e6-9b77-1e0ec1339710.PNG)

[2016-10-26 17:46] oranagra commented on #74
looks like you're already using the right version (by default it calculates memory usage of redis 3.2), so there's no need to edit that script.
anyway, it looks like the memory estimations for sorted sets are inaccurate.
they need to be improved, but i don't currently have time to handle that, so it may take time..

[2016-10-31 04:54] VGHAZ commented on #74
Got it.

Thanks for replying, wait for your good news : ).

[2016-11-08 10:34] mvreg opened #75 "Converting rdb to protocol (UnicodeDecodeError: 'ascii' codec can't decode byte 0xd5)"
uporabnik@lju2134:~$ rdb --command protocol dump-redis-6401.rdb
*2
$6
SELECT
$1
0
*3
$3
SET
$37
pb-urn:sspcreativeapprovalstatus:6741
Traceback (most recent call last):
  File "/usr/local/bin/rdb", line 9, in <module>
    load_entry_point('rdbtools==0.1.8', 'console_scripts', 'rdb')()
  File "/usr/local/lib/python2.7/dist-packages/rdbtools/cli/rdb.py", line 82, in main
    parser.parse(dump_file)

[2016-12-20 13:00] scu2013 opened #76 "big rdb"
Hi, Now I have a huge rdb file which is about 50G. I cost so much time to analyze memory by using this tool. Any advise?

[2016-12-20 13:07] oranagra commented on #76
Python is slow, you can try another (faster) python interpreter such as PyPy.

[2016-12-20 13:07] #76 closed

[2017-01-05 10:48] oranagra commented on #45
fixed by #77

[2017-01-05 10:48] #45 closed

[2017-01-05 10:49] oranagra commented on #61
fixed by #77

[2017-01-05 10:49] #61 closed

[2017-01-05 10:49] oranagra commented on #66
fixed by #77

[2017-01-05 10:49] #66 closed

[2017-01-05 10:49] oranagra commented on #75
fixed by #77

[2017-01-05 10:49] #75 closed

[2017-01-05 11:02] amotzg opened #78 "Add command line option to escape std out"
When using command line tool, with RDBs containing Unicode or binary data, it can sometimes be useful to escape printed bytes. Printing binary data, or not supported Unicode codepoints, can be confusing or even interrupt other printed data and terminal action.

I suggest an addition of `--escape=ENC` parameter with the options `raw` (default), `non-ascii`, and `non-utf8`.
* `raw` - emit raw bytes

[2017-01-18 11:55] amotzg commented on #78
Reading issue #21, and investigating the code a bit more, maybe a better way is escaping the string when parsing.
Escaping before calling the callback require less updates to call back classes and enforce user choice on callback implementers.

[2017-01-20 17:12] optimisticanshul commented on #57
@oranagra can you look into this or merge these changes ?

[2017-01-21 03:42] shivam-maharshi opened #79 "TypeError: sequence item 1: expected a bytes-like object, str found"
**Command: c:\Python34\Scripts>rdb --command json C:/Users/Sam/Downloads/dump.rdb**
**OS: Windows 10**
**Python Version: 3.4**

`c:\Python34\Scripts>rdb --command json C:/Users/Sam/Downloads/dump.rdb
[{
Traceback (most recent call last):
  File "c:\Python34\Scripts\rdb-script.py", line 11, in <module>
    load_entry_point('rdbtools==0.1.7', 'console_scripts', 'rdb')()
  File "C:\Python34\lib\site-

[2017-01-25 13:07] Sembiance opened #80 "Redis 4.0 support"
So attempting to process a redis 4.0rc2 dump.rd file yields:

[code]

Not sure if it's a major deal to add support for 4.0 dumps or not.

[2017-01-25 13:11] Sembiance commented on #80
Updating parser.py from:
```if version < 1 or version > 7:```
to
```if version < 1 or version > 8:```

Seems to have fixed it. Not sure if I'm getting inaccurate data or not, but the format seems compatible.

[2017-01-25 13:23] oranagra commented on #80
the format isn't compatible, that's why the rdb version was incremented.
changes are (if i didn't miss anything):
- 64 lengths bit support
- sorted sets use raw double format
- redis modules support
- few additional aux fields

so, i suppose that if you don't have large objects, don't use modules, and don't use sorted sets... then skipping the version check can work for you.

i suppose proper rdb

[2017-01-27 13:18] amotzg commented on #79
The key/value encoding methods in callbacks.py do some 'best effort' to read utf-8 and to escape for JSON ASCII strings. With Python 3, values passed from the RdbParser come in a _bytes_ like type. ASCII escaping code does not take this into account and try to combine escape sequence as a _str_, but the [re module](https://docs.python.org/3.5/library/re.html) requires that:

This can be solved wit

[2017-01-27 22:18] shivam-maharshi commented on #79
@amotzg Thanks for replying. Both of these issues ( #21 & #78 ) are open. Do you or anyone else have a quick fix on GitHub somewhere? Any help will be appreciated. Thanks again!

[2017-01-28 12:10] amotzg commented on #57
The above referenced commit has lots of noise in it, as far as I could understand, it only comment out the content of _to_datetime()_ and directly return the argument value . While this can solve problems with the commented code, it doesn't serve the original purpose.

_utcfromtimestamp()_ raise this _ValueError_ when the timestamp  is of a year out of the platform supported range. 3470263b725ce65

[2017-01-28 12:15] amotzg commented on #79
Nope, sorry. Only partial work on #78.
I'll try to commit something specific to my fork during the weekend, hope it'll workout...

[2017-01-29 09:33] oranagra commented on #57
@optimisticanshul i understand you can reproduce this problem, can you please try the code of the latest master to see if it solves it, and if not either try to implement what @amotzg suggested (catching the exception and logging the problem silently), or tell us how to reproduce.
thanks.

[2017-01-29 09:54] amotzg commented on #79
amotzg@ceb8d08fa5f2f6941d5ae8508b6741cb0f190618 should solve this issue. It is not quality fit to merge here, but tested to work with the expected JSON command cases. For both py2.7 and py3.5.

[2017-01-29 22:16] shivam-maharshi commented on #79
@amotzg will try and let you know. Thanks!

[2017-02-05 13:17] amotzg commented on #51
@oranagra could this have been solved by 9f521469acaa1776c6df61f8c12c9556cce8065b ?

[2017-02-05 13:40] amotzg commented on #79
@shivam-maharshi any news testing with the hack?
I've pushed a more general solution to branch [amotzg/redis-rdb-tools/string_escape](https://github.com/amotzg/redis-rdb-tools/tree/string_escape). It is not thoroughly tested yet, but I believe it is more stable than original code using Python 3.4.
With the new method, JSON command will try to decode UTF-8 strings by default, but the _--escape_ swi

[2017-02-05 13:46] amotzg commented on #78
Pushed an initial version to my branch [amotzg/redis-rdb-tools/string_escape](https://github.com/amotzg/redis-rdb-tools/tree/string_escape). It is not thoroughly tested yet, but I believe callbacks are more stable with this change than original code using Python 3.4.
Comments are welcome.
After some more testing and documentation I'll PR.

[2017-02-05 17:49] oranagra commented on #51
Yes, fixed already, thank you.

[2017-02-05 17:49] #51 closed

[2017-02-08 18:44] shivam-maharshi commented on #79
@amotzg Unfortunately my setup crashed so I am setting it back up, I don't have bandwidth to test this now. I will let you know when I have some bandwidth.

[2017-02-19 07:53] coin8086 opened #81 "UnicodeDecodeError: 'ascii' codec can't decode byte 0x80 in position 264: ordinal not in range(128)"
rdb --command protocol dump.rdb
...
Traceback (most recent call last):
  File "/usr/local/bin/rdb", line 9, in <module>
    load_entry_point('rdbtools==0.1.8', 'console_scripts', 'rdb')()
  File "/usr/local/lib/python2.7/dist-packages/rdbtools/cli/rdb.py", line 82, in main
    parser.parse(dump_file)
  File "/usr/local/lib/python2.7/dist-packages/rdbtools/parser.py", line 293, in parse
    self.pa

[2017-02-19 09:10] amotzg commented on #81
@coin8086 It is indeed fixed on master but not released as a version yet.
To use most recent code, you can install master code from source using `setup.py`. As in the second README described method.
Note that master code is not considered stable yet, and may contain some fix that have not been tested enough.

[2017-02-19 11:37] amotzg commented on #78
Implemented and merged.

[2017-02-19 11:37] #78 closed

[2017-02-19 11:49] amotzg commented on #79
@shivam-maharsh fork branch is deleted after merge to here. You can use the master now to install from source.
Note, the project README.md is also updated to explain how parsing to JSON and escaping works.

@oranagra , I think this issue can be closed now.

[2017-02-19 11:51] oranagra commented on #79
thanks.

[2017-02-19 11:51] #79 closed

[2017-02-19 12:13] amotzg commented on #21
@venkates, long time but worthwhile to mention, even for future searches.
With, recently merged, string escape option you can now override utf-8 decoding attempts. Using `--escape raw` will pass bytes as is, avoiding any decode attempt.  It will still be `\uXXXX` escaped but with raw values.

@oranagra this can be closed now having an optional solution.

[2017-02-19 12:20] #21 closed

[2017-02-19 19:19] shivam-maharshi commented on #79
@amotzg Thanks for the update. This really helps. Will try and let you know :)

[2017-02-21 08:07] oranagra commented on #80
fixed by #83

[2017-02-21 08:07] #80 closed

[2017-02-22 03:15] aligajani opened #84 "How do I merge multiple .rdb files into one?"

[2017-02-22 05:36] oranagra commented on #84
you can try this:
* start an empty redis server
* use the redis-rdb-tools [protocol emitter](https://github.com/sripathikrishnan/redis-rdb-tools/blob/master/README.md#emitting-redis-protocol) in order to convert the rdb to commands and send the commands to the server.
* repeat the above for each rdb you want to merge
* issue a SAVE command on the redis to save a new file.

[2017-02-22 05:36] #84 closed

[2017-02-23 13:18] coin8086 commented on #81
@amotzg OK, I'm now using the code on master and it works. Anyway it would be good to make the fix in a release soon so that others wouldn't get confused as I did, or at least make some notes in README.

[2017-02-23 13:18] #81 closed

[2017-02-23 14:48] aligajani opened #85 "Install error"
[code]

[2017-02-23 14:54] aligajani commented on #85
@sripathikrishnan

[2017-02-26 11:15] oranagra commented on #85
@aligajani i tested it a few times and everything seems ok.
can you tell me more about your environment? python version, or any other detail?
does the output contain any other information? (it seems partial)
also, i just released a new version (0.1.9 into pypi), can you please re-test?

[2017-02-26 11:22] oranagra commented on #28
this was already fixed by 3470263b725ce651894f1331bed8133f261a42fc (already included in v 0.1.9)

[2017-02-26 11:22] #28 closed

[2017-03-18 21:17] miketheman opened #86 "Regression from 0.1.8 to 0.1.9"
Hi there!

Was trying to dump a file to json and it failed with this traceback, using 0.1.9:

[code]

Downgraded to 0.1.8 and was able to complete the export to JSON.

Looks like it failed when it hit an object with ~200 key,value pairs, looking something like this:

[code]

I _think_ this was previously created as a ZSET, but I'm not certain.

[2017-03-18 21:25] miketheman opened #87 "Unicode error in conversion to protocol"
In rdbtools 0.1.7, 0.1.8, triggering the following traceback (couldn't try 0.1.9 due to #86):

[code]

The key in question looks like:

[code]

[2017-03-19 12:11] #86 closed

[2017-03-19 12:12] amotzg commented on #87
@miketheman, @oranagra, this error is fixed in 0.1.9.

[2017-03-19 12:12] #87 closed

[2017-03-19 12:27] amotzg opened #90 "Pull #83 cause tests to fail on Python3.x"
As part of adding `ntohu64` to `parser.py`, the way byte order is fixed was changed.
Instead of a simple series of shifts into a new value, the code now create an array object and convert it to string after flipping the bytes.
This cause a `TypeError` on Python3.x when calling `struct.unpack()` which expect a byte-like.

To fix this the array should be converted to bytes instead string, or use the

[2017-03-19 12:45] amotzg commented on #86
@miketheman thanks for the input!
I was able to reproduce this error using a ZSET and scores with fractional part, the above fix is tested to solve it. Also added a general test on callbacks to try and prevent this kind of errors in the future.
Please reopen or report another issue in case this still doesn't solve your issue.

[2017-03-20 06:04] oranagra commented on #90
thanks. fixed by #93

[2017-03-20 06:04] #90 closed

[2017-03-21 07:53] #42 closed

[2017-03-21 12:14] miketheman commented on #86
@amotzg Thanks for the patch.
I just tested 0.1.10 against the same dump file, and can see that the output as shown before now converts the json number datatype to strings:

Previously:

[code]

Now:

[code]

In the `protocol` output, I can confirm that this is also being input as a string datatype, as denoted by `$3` before the score value.

[2017-03-21 13:13] amotzg commented on #86
@miketheman this behavior with JSON numbers is built in to the new way we treat text encodings and JSON escaping. I'll open an issue for it, but I'm not sure when I'll get to handle it. Of course, you can also PR with a fix.
About the Redis protocol, by definition client commands should be an array of bulk strings. Numbers will always be sent as strings.

[2017-03-21 13:22] amotzg opened #95 "JSON callback output numbers as strings"
Since v0.1.9, all JSON values are converted to string and get double quoted.

This can be fixed by adding `encodehelpers.bytes_to_unicode()` an 'opt-in' argument to skip numbers and using it in `JSONCallback.encode_value()`

See https://github.com/sripathikrishnan/redis-rdb-tools/issues/86#issuecomment-288060497 for an example.

[2017-06-02 03:37] jianqingdu opened #98 "RDB file format need to update to version 7"
Since Redis 3.2, the RDB version was updated to 7, added two new opcodes, RDB_OPCODE_AUX and RDB_OPCODE_RESIZEDB

[2017-06-09 10:16] VikramMoule opened #99 "-k parameter not working on Ubuntu"
When I use the command `rdb -c json -k 'cluster_*' redis.rdb`

I always get following error :

[code]

If the -k parameter is removed it gives me all keys which is not what I want.

root@localhost.local# python -V
Python 2.7.6
root@localhost.local# pip install rdbtools
Requirement already satisfied (use --upgrade to upgrade): rdbtools in /usr/local/lib/python2.7/dist-packages
Requirement already s

[2017-06-09 10:50] amotzg commented on #99
@VikramMoule Please try using the master code, it should have a fix to this as to #96 .

@oranagra is there an expected release to include this?

[2017-06-09 11:25] VikramMoule commented on #99
@amotzg Thanks. It works as expected with the master code.

[2017-06-09 11:25] #99 closed

[2017-06-13 05:27] oranagra commented on #98
@jianqingdu what's your point?
redis-rdb-tools does support rdb-v7, and even sends the AUX fields to the parser callbacks.

[2017-06-13 15:41] oranagra commented on #99
i don't think we have any other release coming soon, so the question is if this fix alone justifies a release.

[2017-06-23 19:40] aawilson commented on #99
Is there some way to daylight this in lieu of a release? The only way I found this was by searching in the closed issues of this repo after a google search turned up a result that indicated that it might have been an issue (not a result that pointed to the issue--the page of the result didn't actually have the actual content, it was just one of those "github issue mirroring" sites so I got the clu

[2017-06-24 10:48] oranagra commented on #99
FYI @VikramMoule @aawilson the fix was released as version 0.1.11. sorry for the delay.

[2017-09-12 20:11] artek opened #101 "Update Prebid to 0.28.0"
New version of Prebid has been released. We should update our library to stay up to date.

[2017-09-12 20:13] #101 closed

[2017-09-17 10:04] spccold opened #102 "future request: get total memory used by multiple keys via pattern"
Motivation:

most of time the keys in the same scene with the same key prefix and knows how many memory consumed in this scene is meaningful and helpful.

Result:

get total memory used by keys which start with 'keyprefix'
`rdb -c memory /var/redis/6379/dump.rdb --pattern 'keyprefix*'`

[2017-09-17 10:07] spccold commented on #102
@sripathikrishnan What do you think?

[2017-09-17 10:17] oranagra commented on #102
sripathikrishnan isn't active here anymore. i'm currently maintaining this repo, but i don't have much time to contribute either.
looks like a good idea, it can be a subclass of the MemoryCallback class, which only sums the total memory rather than giving a detail report, and then allows the user to perform various types of filtering.
here are some ideas:
* filter by pattern like you suggested
* f

[2017-09-25 12:39] Rowen123 opened #103 "Using json callback in code"
I'm very new to python(and GitHub for that matter), so just bear with me. Recently i came across the redis-rdb-tools. It  is an amazing tool.
But i wanted to use the functionalities provided by this tool(specifically rdb to json converter) in a python code(by making use of json callback, i believe) rather than executing the command externally.
The example showcased in the readme was not much helpf

[2017-10-12 03:48] hapic opened #104 "it not work"
run  'rdb  -c memory dump.rdb > /tmp/redis_memory_report_1012.csv'
it show :
Traceback (most recent call last):
  File "/usr/local/python27/bin/rdb", line 11, in <module>
    load_entry_point('rdbtools==0.1.11', 'console_scripts', 'rdb')()
  File "build/bdist.linux-x86_64/egg/pkg_resources/__init__.py", line 561, in load_entry_point
  File "build/bdist.linux-x86_64/egg/pkg_resources/__init__.py",

[2017-10-12 13:46] oranagra commented on #104
it works for me.
i guess it's some local problem on your computer.
when you solve it, if you reach a conclusion that rdb-tools can be improved, please post a solution.

[2017-12-06 21:40] ttonyh opened #105 "HASH with stringified JSON values getting escaped"
I'm successfully converting the dump.rdb file to a JSON document. My only problem is, is that nested JSON values (stringified) in a HASH are getting escaped.

Example:
[code]

This is the command I use:
[code]

Is there a way that I could make it JSON-parse the items in a HASH that are JSON strings? That would save me from having to re-parse the document later on.

Thank you

[2017-12-06 22:26] oranagra commented on #105
Hi,
So i understand you're saving a JSON value inside a hash field, but from redis's perspective the hash contains strings, so when putting them into the JSON output they need to be quoted, and that also means escaping.
there's currently no way to change that, and even if we wanted, i'm not sure how we can distinguish between fields that should be quoted (like "abc" above), and fields that should

[2017-12-06 22:42] ttonyh commented on #105
Yes, you got it; thanks for your quick response. How about creating a custom parser for certain key/values in a HASH that will JSON parse the string? Can it be done and is there any code examples? Anyway to do it from the command line? I need the "options" included that I pasted above (key-regex, JSON, file output, raw etc.).

Thanks again,

[2017-12-06 23:15] oranagra commented on #105
i understand you're now looking for a "private" solution, so you can either just modify your local code.
or if you rather not, then you can probably derive some class or monkey patch it.
sorry, i don't currently have the time to look for exact instructions.

[2017-12-07 00:04] ttonyh commented on #105
Well, I was hoping I wasn't the only one that needed this, and if someone has solved this problem that they might have some sample code to post; something to point me in the right direction. Thanks for your help though, I appreciate it.

[2017-12-07 00:17] #105 closed

[2017-12-07 17:01] tempuser14 opened #106 "TypeError: object of type 'long' has no len()"
I have installed redis-rdb-tools in Cygwin and on running `rdb -c memory dump.rdb_redis02 --bytes 128 -f memory_02.csv` I get:

  File "/usr/bin/rdb", line 11, in <module>
    load_entry_point('rdbtools==0.1.11', 'console_scripts', 'rdb')()
  File "/usr/lib/python2.7/site-packages/rdbtools/cli/rdb.py", line 86, in main
    parser.parse(dump_file)
  File "/usr/lib/python2.7/site-packages/rdbtools/p

[2017-12-07 17:15] oranagra commented on #106
@mihu this looks like a regression from https://github.com/sripathikrishnan/redis-rdb-tools/commit/d7965253799df9850b27a8c8106e89c303041e15
can you take a look, do you recall what was the reason you wanted to remove the dependency of long?

[2017-12-11 07:03] #106 closed

[2017-12-11 07:15] oranagra commented on #106
fix released in version 0.1.12.
thanks for reporting

[2017-12-11 21:35] AliNiestani opened #107 "rdb tools"
Does the rdb-tools handle this question?

https://stackoverflow.com/questions/47751591/how-to-transfer-some-redis-data-required-to-another-file

[2017-12-12 05:59] oranagra commented on #107
the [protocol](https://github.com/sripathikrishnan/redis-rdb-tools#emitting-redis-protocol) command can be used to convert the rdb file to a list of commands, you can then dump that to a file, edit it (trimming what you don't want), and then netcat it into a redis listening port.

but i think that (assuming you wanna keep complete values, and not portions of them) you better use the [MIGRATE](http

[2017-12-12 05:59] #107 closed

[2017-12-18 02:25] linux2014linux opened #108 "how -e print binary key?"
I analyse rdb by rdbtools with -e print. I export result to file. I found some binary key, example:
(1)\x0A\x0A\x08\x8A\xBC\xE2\xCB\x05\x10\x0D\x18\x04
(2)\x0A\x0E\x08\x8A\xBC\xE2\xCB\x05\x10\x16\x18\x0E(\x058\x02
I parse the key by follow python code:
            byte_list = binary_key.split('\\x')
            tmp = ''
            for item in byte_list[1:]:
                print item

[2017-12-18 06:41] oranagra commented on #108
only the non-printable chars are converted to hex.
look at escape_ascii_bytes in rdbtools/encodehelpers.py

so yo can that this sequence can be fed directly to python as a literal.
print("\x28 - (")
( - (

[2017-12-18 08:52] oranagra commented on #108
I think in python 2 you should use `decode('string_escape')`

[2018-01-09 09:01] omyhub opened #111 "SyntaxError: invalid syntax print(*args, file=sys.stderr, **kwargs)"
[root@azb128 ~]# rdb --command json  dump.rdb
Traceback (most recent call last):
  File "/usr/bin/rdb", line 9, in <module>
    load_entry_point('rdbtools==0.1.12', 'console_scripts', 'rdb')()
  File "/usr/lib/python2.7/site-packages/pkg_resources.py", line 378, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python2.7/site-packages/pkg_resource

[2018-01-09 09:01] omyhub commented on #111
someone help me , please !

[2018-01-09 09:13] oranagra commented on #111
@sripathikrishnan looks like a regression from https://github.com/sripathikrishnan/redis-rdb-tools/commit/391008bdd46d7c9b8968043b4035cfe40e695ce3
@omyhub please use the 'stable' branch instead.

[2018-01-09 12:11] sripathikrishnan commented on #111
@omyhub this should be fixed in master as well. Sorry for the inconvenience!

[2018-01-09 12:11] #111 closed

[2018-01-10 01:52] omyhub commented on #111
thanks

[2018-01-10 02:56] xianyongjie opened #113 "rdb to csv but the key with ,"
run rdb -c memory dump.rdb > memory.csv
result: 0,string,test,1,2,string,8,8
how to deal with Special characters ,
thank you!

[2018-01-15 08:51] oranagra commented on #113
Hi, sorry for the delay.
it looks like we need to add automatic quoting, or maybe another option for the -e option.
feel free to issue a pull request.

[2018-01-17 07:14] farhad-tarapore opened #114 "Not able to run rdb"
Getting an error:

rdb -c memory dump.rdb --bytes 128 -f memory.csv
Traceback (most recent call last):
  File "/usr/bin/rdb", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.6/site-packages/pkg_resources.py", line 2655, in <module>
    working_set.require(__requires__)
  File "/usr/lib/python2.6/site-packages/pkg_resources.py", line 648, in require
    n

[2018-01-17 08:15] oranagra commented on #114
Hi, i haven't seen that problem before.
Is your python installation healthy? do other packages work?
Can you try upgrading to python2.7?

[2018-01-17 08:44] farhad-tarapore commented on #114
It worked with a fork of this code for Redis 3.x

[2018-01-17 10:55] oranagra commented on #114
@farhad-tarapore do you mean to say it's a regression?
do you have a release version or commit SHA which this fork is based on?
can you please test python2.7?
can you try to narrow down the change that caused this regression?

[2018-01-19 06:46] QuanGangDeng opened #115 "Invalid RDB vesrion number 7"
after I used rdb tools to analyze memoy, this Exception comes out
I've seen the source code,but I don't know to deal with it.
 if version < 1 or version > 6 :
            raise Exception('verify_version', 'Invalid RDB version number %d' % version)

[2018-01-19 06:55] oranagra commented on #115
@QuanGangDeng you're probably using an old version of rdb-tools, newer versions support up to rdb version 8 (of redis 4.0)

[2018-01-19 09:16] QuanGangDeng commented on #115
@oranagra Thank you so much,It's working really well in the least version

[2018-01-19 09:16] #115 closed

[2018-01-24 12:32] bmerry opened #116 "Ordered-set scores not converted to float in Python 3"
When reading an RDB file I noticed that the `zadd` callback is given a `float` (for score) when using Python 2, but a `bytes` when using Python 3.

I suspect the problem is at [this line](https://github.com/sripathikrishnan/redis-rdb-tools/blob/c02b41041979268ee08131f0a239b1d9f89e9040/rdbtools/parser.py#L465), which for some reason only casts to float if the value read from file is a `str` (which

[2018-01-31 08:54] fanjindong opened #117 "[Memory Report] key, size_in_bytes can not be disconnected"
result:
![image](https://user-images.githubusercontent.com/24584669/35613545-6e3830b4-06a7-11e8-8cc2-adceb14b5088.png)

[2018-01-31 18:41] oranagra commented on #117
looks like this may be related to #113.
can you please try to fix and post a PR?
or at least attach an example rdb file (with one or two keys) so that we can make sure we reproduce it...

[2018-02-02 03:29] fanjindong commented on #117
@oranagra
[dump.rdb.zip](https://github.com/sripathikrishnan/redis-rdb-tools/files/1687971/dump.rdb.zip)
Think you

[2018-02-02 09:05] sripathikrishnan opened #118 "Discussion: Improving performance of memory analyzer"
I spent the last few days trying to optimize the performance of memory analyzer. At this point, I wanted to start a discussion on the results, and how we can merge it back into the redis-rdb-tools.

Creating test RDB files
-----
I first needed a set of rdb files to work against. Synthetic rdb files, those generated from redis-benchmark didn't cover all patterns. So I made a set of RDB files from r

[2018-02-02 09:49] linux2014linux opened #119 "When rdb-tools support object meta info dump?"
Now, rdb-tools support key summary information dump to file. Sometime, I need look for the key meta info(idletime etc.). Do you have a plan that rdb-tools support dump key meta information?

[2018-02-02 09:53] sripathikrishnan commented on #119
Unfortunately, the rdb dump file format does not contain meta-data such as idle time. The only meta-data available is the expiry, and that was added to the CSV recently in unstable.

Antirez has hinted that a newer version of RDB file will contain additional meta-data information about keys such as idle time / last access time. When that format is published, rdb tools will start supporting it.

[2018-02-02 09:57] linux2014linux commented on #119
OK, thanks!

[2018-02-02 09:57] #119 closed

[2018-02-04 07:31] oranagra commented on #118
Impressive, and very much needed.
Here are a few notes / concerns:
* I see value in keeping a python-only implementation (obviously some, minority of users can't afford using native code)
* I see value in keeping the  support for 32 bit, Redis may be used on embedded devices or people who just don't want to waste memory on storing 64 bit pointers if their database is small.
* I see value in keepin

[2018-02-04 15:40] sripathikrishnan commented on #118
Great feedback, exactly what I was hoping for. Thanks! I will work on this feedback this week.

* re. 32 bit version, and keeping it working for older versions - Noted, will keep it that way.
* re. maintaining two parsers - agree, don't want to do that. Let me try a shared library in C that works across platforms that does the core parsing. Then we can continue to keep the current callbacks, excep

[2018-03-21 11:59] avnerbarr opened #120 "Getting the in-memory size of the objects rather than the serialized size"

[2018-03-21 12:33] avnerbarr opened #121 "Question - How is the reported size calculated"
I'm trying to understand the discrepancies on key size that I am getting

for example:

[code]

vs

[code]

[2018-03-21 12:42] oranagra commented on #121
There may be some small differences in how each is calculating the size and what extra overheads it sums in or not.
For instance, the MEMORY command doesn't take internal fragmentation into account, but redis-rdb-tools does (or at least attempts to do that).
Please note that Redis's used_memory field in INFO MEMORY **does** include internal fragmentation.. So in that respect redis-rdb-tools is mor

[2018-03-21 14:05] avnerbarr commented on #121
what is "internal fragmentation"?

[2018-03-21 16:44] oranagra commented on #121
https://en.m.wikipedia.org/wiki/Fragmentation_(computing)#Internal_fragmentation

[2018-03-22 07:15] sripathikrishnan commented on #120
No, that isn't possible. You will have to run the entire report, and then use the filtering options

[2018-03-27 03:39] linux2014linux opened #122 "Do you have a plan that redis-rdb-tools be developed by c/c++?"

[2018-03-28 05:43] sripathikrishnan commented on #122
There is a proof of concept work that is available in a fork, see this discussion - https://github.com/sripathikrishnan/redis-rdb-tools/issues/118

Unfortunately, I don't have a timeline by which it will be ready to merged back into unstable. Only running memory analysis is easier to merge, but adding support for all features that redis-rdb-tools supports is more work, and that is causing delays.

[2018-03-28 05:46] sripathikrishnan commented on #118
Quick update - I've been able to get the memory analysis a lot better. But I haven't got the time to work on the python callbacks. I would like to at least merge the memory analysis part before redis conf, trying to find the time to make it happen.

[2018-03-28 06:11] linux2014linux commented on #122
Ok, I got it.

[2018-03-28 06:11] #122 closed

[2018-03-30 05:48] topilski opened #123 "redis-rdb-tools integration into FastoRedis/FastoNoSQL"
Hi maintainers, i have idea to integrate rdb into FastoRedis/FastoNoSQL. What you think about it? Pros and Cons of this integration?

[2018-04-01 06:35] oranagra commented on #123
@topilski can you elaborate on what exactly you have in mind?
what are features such integration will offer?
and also how you intend to achieve that integration?

[2018-04-01 06:46] topilski commented on #123
Hi @oranagra , i want to start integration usfull tools into FastoRedis application, i think it will help users.
I thinking about execution python script and handling progress of dumping. It will be simple find script , pass needed args , handle execution in GUI. Users should specify path to rdb after that can execute commands.

[2018-04-01 07:13] oranagra commented on #123
So if i understand correctly this does not really consist of any integration between the redis client features and the offline rdb parsing features, but rather just having GUI for redis-rdb-tools inside the same GUI that's used as a redis client.
I guess it may be useful, especially to lazy users that don't like to bother with command line arguments.
On top of that, maybe you can have a nicer disp

[2018-04-02 12:50] topilski commented on #123
Hi @oranagra , in mostly users use ssh connections, how i can understand rdb can be used only on same machine. I think that user should setup path to rdb and python. The solutions can be load dump file via scp and exec rdb with needed args, or call rdb remotely but it is not GUI side issue. Can you describe  your 2 ways in more details?

[2018-04-02 16:07] oranagra commented on #123
regarding 1)
redis-rdb-tools has a tool that converts the RDB file into a stream of redis commands. if you send these commands to a redis server via a client connection, you effectively load that RDB into the target redis (merging it with whatever is already there, unless you FLUSHALL in advance)

regarding 2)
What i mean is that if you're already connected to redis as a client, you can download a

[2018-04-24 08:45] fristedt opened #124 "Sorted set processed in reverse"
It appears that the `zadd` callback is called in reverse order (descending, highest to lowest score). Is there any way to process the sorted set in ascending order?

[2018-04-24 11:57] sripathikrishnan commented on #124
No, there isn't a way to control that. We process the entries in the order in which they are *stored* in the rdb file. The parser is stateless, it is designed to use as little memory as possible during parsing. Returning records in a different order will require holding all elements in memory, and that isn't a good idea.

You can easily solve this by writing a new class that extends `RdbCallback`.

[2018-04-25 02:56] SuperDubbo opened #125 "Why not provide an exe file for redis-rdb-tools on windows?"
Why not provide an exe file for redis-rdb-tools on windows?Meet the needs of different users

[2018-04-26 13:10] sripathikrishnan commented on #125
Hi SuperDubbo, this is a valid suggestion, but right now this isn't something we can support.

[2018-05-16 13:11] keerthi310 opened #126 "Unable to install rdb tools in mac os"
Reading https://pypi.python.org/simple/redis/
Download error on https://pypi.python.org/simple/redis/: [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:590) -- Some packages may not be found!

[2018-05-16 17:16] sripathikrishnan commented on #126
It's not clear what you are trying to do. Can you tell me what commands you are executing?

[2018-05-17 20:49] koreindian commented on #126
I believe `pip install rdbtools`.
I am seeing a similar issue on OS X.

Collecting rdbtools
[code]

[2018-06-13 03:09] spccold opened #127 "Question: the correctness of rdbtools.memprofiler#sizeof_string when input string isn't ascii"
[code]

when the input string is chinese, like `你好`, len(string) return 2, but contains 6 bytes in fact

![image](https://user-images.githubusercontent.com/8461826/41328024-883a790e-6ef8-11e8-9c16-8f068bd23168.png)

I am not familiar with jemalloc memory allocation strategy, maybe bytes number is more correctly for memory calculation

[2018-06-15 06:52] sripathikrishnan commented on #127
You are right that bytes is correct for memory calculation.

I'm reasonably sure that the 'string' argument that's passed to a function is a python bytes object. So ultimately, it will return 6 bytes. The len function works for both strings and byte like objects.

[2018-06-15 06:52] #127 closed

[2018-06-19 14:33] oranagra opened #128 "add support for rdb v9 (redis 5.0) and memory analysis of streams"

[2018-06-19 16:28] graysonchen commented on #126
@koreindian 👍
**Nevermind, this is because pip 9.0.1 is broken as of April.**

[2018-06-19 16:30] avnerbarr opened #129 "printing msgpack keys correctly"
In redis my keys look like this:

[code]

where `\xcd\xe9\xba` is a msg pack portion

when I run `rdb` command like so I am getting bad output:

`rdb --command justkeys --key "*8767678.*" data/datafeeds-redis/dump.rdb`

The output looks like this:

`a:{8767678}:b:c:��K`

you can see the strange characters `��`

I've tried to add the `--escape raw` option but it still outputs the strange characters

[2018-06-19 17:43] avnerbarr commented on #129
this seems to work `--escape print`

Is that the correct way? thanks!

[2018-06-19 19:28] oranagra commented on #129
Yes. That is If you want to display in console, not store to a file...

[2018-06-19 20:35] avnerbarr commented on #129
I would like to output all of the keys matching the expression to a file.

In that case what is the appropriate action?

Avner

[2018-06-20 04:31] oranagra commented on #129
it depends on what you want to do with the file. if you want to print it, or you want it to contain binary (non printable) data.
your keys contains binary (non printable) data, but i see your first post in this thread, that you were expecting for escaped output (probably to match what you got from redis-cli), so in that case, you probably want `--escape print`.

[2018-06-20 05:05] sripathikrishnan commented on #128
Great, thanks for the reminder!

[2018-06-20 07:59] avnerbarr commented on #129
I want to do some "expensive" scan on the db file (offline) and then use the keys later.
Is it correct to do it as a "printable" output?

[2018-06-20 09:20] oranagra commented on #129
depends on how you'll use the output (key names), if you wanna later feed them to redis-cli, yes, if you wanna write a program that works with it, then you may want the unescaped version...
anyway, this totally depends on what you wanna do with the output.
printable output is usually used in order to display the data on a terminal or copy it to the clipboard....

[2018-06-20 13:34] avnerbarr commented on #129
Thanks!

I've gone ahead and created a small python util that works on particular key pattern. I saw that you provided a cli `--command justkeys --key ".*pattern.*"`

I took your example code in the readme and did something similar to the flag

(very trivial example):

[code]

but since the key is somewhat "sparse" in the file, and my rdb file is 60GB this is quite slow.

Is there any assumption a

[2018-06-20 13:59] oranagra commented on #129
keys in rdb are not sorted, and redis-rdb-tools processes them as they are in the rdb.

the parser can't really completely disregard keys, in most cases it must parse the full key and value in order to skip it's bytes.
there are cases, for ziplist encoded values in which it would be possible to speed up the processing by skipping a the value instead of extracting individual elements and calling th

[2018-06-20 14:32] oranagra commented on #129
actually i take it back.. i see that we already efficiently skip whatever we can skip when you use --key

[2018-06-21 11:40] avnerbarr opened #130 "question - is it possible to get the progress of the parser"
I'm looking for a callback hook to know how much progress (i.e. bytes out of total) the parser has completed. Is this possible ?

[2018-06-21 11:49] oranagra commented on #130
it's a nice idea for improvement (feel free to PR).

meanwhile, if you use the parse_fd() function, it should be easy to 'tell' the current offset from any callback using lseek(fd, 0, SEEK_CUR);

[2018-06-21 13:47] sripathikrishnan opened #132 "Provide a way to restore a subset of keys into a running redis server from a RDB File"
Very often, due to application bugs, teams lose or corrupt a subset of data within redis. For example, someone may have accidentally deleted some keys or would have run the wrong command.

There are a few ways to recover data in such cases - a) replaying AOF file after removing the offending command, or b) Restore an older RDB. Replaying the AOF is not always possible, because many cloud providers

[2018-06-21 13:48] sripathikrishnan commented on #132
@oranagra FYI - I'm working on this feature request, should have a pull request in a couple of days

[2018-06-22 06:12] sripathikrishnan commented on #126
Thanks for confirming!

[2018-06-22 06:12] #126 closed

[2018-07-07 09:20] spccold opened #134 "the return value of sizeof_string in memprofiler.py should add robj_overhead()?"
[code]

[2018-07-08 06:34] #134 closed

[2018-09-17 04:48] yangyifei93 commented on #104
same problem

Traceback (most recent call last):
  File "/usr/bin/rdb", line 11, in <module>
    load_entry_point('rdbtools==0.1.12', 'console_scripts', 'rdb')()
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 484, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 2

[2018-09-28 06:58] a13707331174 opened #136 "can not run rdb"
when i run rdb,it dose not show anything ,and when i input" ctrl c" to Interrupt,it shows :

File "/usr/bin/rdb", line 9, in <module>
    load_entry_point('rdbtools==0.1.12', 'console_scripts', 'rdb')()
  File "/usr/lib/python2.7/site-packages/rdbtools/cli/rdb.py", line 86, in main
    parser.parse(dump_file)
  File "/usr/lib/python2.7/site-packages/rdbtools/parser.py", line 350, in parse
    self

[2018-10-23 09:53] Abioy opened #137 "suggestion: use markdown to maintain document in docs"
so that we could get docs while pulling the repo.

[2018-10-23 12:30] Abioy commented on #137
not familiar with wiki on Github, I update the wiki page just now, sorry for that.
https://github.com/sripathikrishnan/redis-rdb-tools/wiki/Redis-RDB-Dump-File-Format

also make a pull request for the repo.
https://github.com/sripathikrishnan/redis-rdb-tools/pull/138

[2018-10-24 11:58] sj1385 opened #139 "install error"
hello:
  i compile fail:
/usr/lib64/python2.7/distutils/dist.py:267: UserWarning: Unknown distribution option: 'entry_points'
  warnings.warn(msg)
/usr/lib64/python2.7/distutils/dist.py:267: UserWarning: Unknown distribution option: 'test_suite'
  warnings.warn(msg)
/usr/lib64/python2.7/distutils/dist.py:267: UserWarning: Unknown distribution option: 'install_requires'
  warnings.warn(msg)

my env

[2018-10-29 09:38] fristedt opened #140 "Invalid RDB version number 9"
[code]

RDB version 9 doesn't seem to be supported in the lastest release. It works if you install master.

Could you make a new release? Almost been a year since the last one.

[2018-10-31 07:00] oranagra commented on #140
@fristedt thanks for the reminder. i have made a new release and published it in pip repository. please let me know if there are any issues with the release.

[2018-10-31 07:00] #140 closed

[2018-11-21 14:06] varunbalupuri commented on #103
`JSONCallback` requires an `out` parameter in the constructor. For example:

[code]

[2018-11-21 15:22] varunbalupuri opened #142 "dump.rdb is being parsed as empty keys"
I have a redis dump file which is around `30MB`

When I run `rdb -c json dump.rdb` I get a json list of my keys, with no data in them, for example:

[code]

The file is definitely not empty, there is plenty of data in there. Any ideas?

[2018-12-01 13:15] vitlav opened #144 "test_rdb_with_stream failed"
+ ./run_tests
..................................E.........................
======================================================================
ERROR: test_rdb_with_stream (tests.memprofiler_tests.MemoryCallbackTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "redis-rdb-tools-0.1.13/tests/memprofiler_tests.py", line 94, in

[2018-12-01 15:05] vitlav commented on #144
Is it look like a solution?
--- a/redis-rdb-tools/rdbtools/memprofiler.py
+++ b/redis-rdb-tools/rdbtools/memprofiler.py
@@ -473,7 +473,7 @@ class MemoryCallback(RdbCallback):

     def ziplist_entry_overhead(self, value):
         # See https://github.com/antirez/redis/blob/unstable/src/ziplist.c
-        if type(value) == int:
+        if type(value) == int or  type(value) == long:

[2018-12-02 06:35] oranagra commented on #144
@vitlav which version of python are you using?

[2018-12-03 06:02] vitlav commented on #144
Python 2.7.14

This problem related to i586 arch.

[2018-12-03 07:36] vitlav commented on #144
Can you test 32 bit arch? Or I can do some debug run for you?
[code]

[2018-12-05 09:05] oranagra commented on #144
@vitlav i made a fix in https://github.com/sripathikrishnan/redis-rdb-tools/pull/145
didn't merge it to the master yet, but if this blocks you, you can use that branch.

[2018-12-05 20:30] hq519Simplifi opened #146 "Question -- If the data is snappy compressed, is it possible to decompress when parse it with rdb-tools ?"

[2018-12-05 20:38] oranagra commented on #146
Hi,
your question is very unclear, there's no snappy compression in redis, and i'm not sure what you want to achieve.
i can only assume that you mean that the rdb file was compressed, and you want to parse it directly from the compressed form.
you can do that by using the python functions (not the CLI), there's a `parse_fd` function that takes a file object, you can pass it a file like object that

[2018-12-05 21:17] hq519Simplifi commented on #146
Thanks for info. The data object stored in the redis db is snappy compressed , when it saved as redis backup files, is there way can use python to extract and decompress the data object?
For redis db, I can use:
    r = redis.Redis( ...)
    keys = r.randomkey()
    y = r.get(keys)
    y2 = snappy.uncompress(y)
  return y2

[2018-12-05 21:33] oranagra commented on #146
ohh.
maybe implement a new callback class, that derives from the json callback class.
then on each callback, do your decompression, and forward the decompressed data to the json class method.

[2018-12-10 09:39] #144 closed

[2018-12-10 19:24] hq519Simplifi commented on #146
Thanks

[2018-12-24 13:41] vinod-sisodiya opened #148 "redis-rdb-tools access on web browser"
Hi,

how can i see web-base control panel for Redis-server , Please help me out.

[2018-12-24 13:47] oranagra commented on #148
@vinod-sisodiya
if you're talking about https://rdbtools.com/ then i think you're might be asking in the wrong place.

[2018-12-25 05:15] vinod-sisodiya commented on #148
Yes .!! i m talking about https://rdbtools.com/. is it cluster monitoring  tools or not?

[2018-12-27 06:57] lincy991389662 opened #149 "something wrong with the rdb parse"
Hi,
    kindly please help check the  parser problem, I seems the problem of rdb format, how can I cope with the source code?

[redis_host.rdb.zip](https://github.com/sripathikrishnan/redis-rdb-tools/files/2711698/redis_host.rdb.zip)

[2018-12-30 11:02] oranagra commented on #149
the file seems corrupted.
the crash in redis-rdb-tools:
[code]

trying to load that file into redis:
[code]

@lincy991389662 how did you generate that file? is it reproducible?
it could be a big in redis, or something else that corrupted that file after it was produced.

[2019-01-28 09:22] 1212Joy opened #150 "When will update the ‘Redis RDB Version History’ doc to adjust the latest version"

[2019-01-28 17:31] oranagra commented on #150
updated:
https://github.com/sripathikrishnan/redis-rdb-tools/blob/master/docs/RDB_Version_History.textile

thanks for the reminder... enjoy..

[2019-01-28 17:31] #150 closed

[2019-02-16 12:43] jerrygb commented on #128
@sripathikrishnan @oranagra Is this complete. Based on the PR you have it is.

I am trying to import which I believe is redis 5.0.3 with a file header REDIS0009. I just get an empty json object.

Does the library have support for it? Also do you have documentation on DEBUG or TRACE flag for the  tool?

[2019-02-16 13:49] oranagra commented on #128
@jerrygb the streams support at the moment is just in the memory analyzing aspects.
no support in the json and other features, since we didn't implement listpack decoding yet.
PRs are welcome 8-)

[2019-02-17 13:01] jerrygb commented on #128
Thank you for the update @oranagra

[2019-02-17 13:18] jerrygb commented on #128
@oranagra Weird enough, I am also not able generate a memory report/analysis with the v9 file. Are there specific breakpoints or traces within the code you can point me to before I dig deeper into the source?

Thanks in advance.

[2019-02-18 16:36] oranagra commented on #128
@jerrygb what do you mean? are you getting any error? if so, please post it.
what version of redis-rdb-tools are you using? what command line did you use?

[2019-03-12 07:56] vinllen opened #153 "what is the 'stream' struct looks like in rdb file?"
I didn't find the `stream` struct in this [wiki](https://github.com/sripathikrishnan/redis-rdb-tools/wiki/Redis-RDB-Dump-File-Format), could you add this?

[2019-05-07 12:12] hoswey opened #154 "command redis-memory-for-key is dangerous"
As the redis-memory-for-key will call [dump](https://redis.io/commands/dump) command of the redis

For large key, the dump command will block redis as it's Time complexity. So this command is very dangerous for production environment.

[2019-06-05 07:34] Tinywan opened #155 "Redis5.0 Stream is not support？"
redis data
[code]
rdb.exe
[code]

[2019-06-05 07:39] oranagra commented on #155
@Tinywan the streams support at the moment is just in the memory analyzing aspects.
no support in the json and other features, since we didn't implement listpack decoding yes.
PRs are welcome 8-)

[2019-06-05 07:42] Tinywan commented on #155
@oranagra OK

[2019-06-05 15:51] #155 closed

[2019-06-19 10:33] gingerlime opened #156 "potential issues with escaping with rdb-tools?"
We're using rdb-tools to convert a redis `rdb` dump to restore it onto a different system (where there's no way to import the `rdb` file directly).

We essentially run:

[code]

and then take the `dump.txt` and pipe it into the other redis:

[code]

This seems to work fine, but then we spotted some intermittent issues with some of the data. The data is marshalled in ruby, and in some cases `Marsha

[2019-06-19 12:57] gingerlime commented on #156
Looks like a RTFM-issue. Should have used `--escape raw`.

[2019-06-19 12:57] #156 closed

[2019-10-07 03:28] cw1427 opened #158 "There doesn't have error log when add instance failed"
I'm trying to have a trial with free licence of rdb-tools v0.9.42. But I could not successfully add my redis instance in remote server.  I tried to use my local redis-cli which could successfully connect my remote Redis server, but rdb-tools failed.  There shows 500 Internal server Error, but no detail error log I could find.

![image](https://user-images.githubusercontent.com/4980410/66283199-266

[2019-10-07 04:48] cw1427 commented on #158
Just confirmed, it is the password length problem. Once the password longer than 100 chars rdbtools got failed. Very stupid. The redis password should longer than 128 chars as the official recommend.

[2019-10-07 09:49] nishantgeorge commented on #158
@cw1427 Thank you for reporting this! A fix is on the way.

[2019-10-15 10:05] cw1427 commented on #158
Hi @nishantgeorge :

What's the plan for this fix? I'm waiting for it goes ready to do my Redis instance monitoring

[2019-10-15 10:18] nishantgeorge commented on #158
Hey @cw1427

It might be some time till this fix lands in RDBTools, since RDBTools is in maintenance mode now.

This has been fixed in [RedisInsight](https://redislabs.com/redisinsight). I encourage you to try RedisInsight out and see if the fix works for you! :)

[2019-10-17 23:17] pfcarrier commented on #132
Thanks for such a great tool.
Just sharing that if one want look for an immediate way to restore a subset of keys from an rdb file it can be achieved with this approach.
[code]

[2019-10-22 05:41] david6522 commented on #139
我也遇到了，解决了吗

[2019-10-22 05:47] david6522 opened #159 "python-lzf installed but still waning"
![image](https://user-images.githubusercontent.com/33677926/67261226-5487b480-f4d2-11e9-8403-618f5fef1063.png)

[2019-11-16 01:54] posix4e opened #160 "Unknown opcode in custom rdbs"
It seems as though no matter what keys I filter for, since I loaded a redis with a custom rdb there's no way to analyze this file with your parser. I'm curious if you could provide a mode where it's automatically skipped like rdb --command protocolskiperrors

Example of failed command rdb  --command  protocol -k 'anything'  customrdb  > /dev/null

[code]

[2019-11-17 06:11] oranagra commented on #160
This error indicates that it's unable to parse the RDB file, so it can't skip this and keep reading the file.

Please describe how you created this RDB, which version of redis, and which module. and if possible upload an example RDB that reproduces this.

[2019-11-17 06:14] posix4e commented on #160
I believe the issue is our custom rdb. Once I delete the custom rdb keys it goes away. We used https://github.com/kristoff-it/redis-cuckoofilter+

[2019-11-17 07:06] oranagra commented on #160
@posix4e what do you mean by custom rdb? you mean a module data type (using redis module API)? these should be encoded in a way that they can be skipped.
which version of redis do you use and which APIs?

[2019-11-17 08:19] posix4e commented on #160
bitnami/redis:5.0.5-ol-7-r149
with https://github.com/kristoff-it/redis-cuckoofilter

Once I removed the key I created with the cuckoofilter it was fixed. I'd
assume that if I skipped the key with -k it would't crash but that didn't
make a different.ce

Alex Newman
404.507.6749

On Sat, Nov 16, 2019 at 11:06 PM Oran Agra <notifications@github.com> wrote:

[2019-11-17 13:08] itamarhaber commented on #160
@kristoff-it any ideas why your crazy module causes that? want to help us get to the bottom of this?

[2019-11-17 13:14] oranagra commented on #160
IIRC i tested redis-rdb-tools with rejson keys and it worked.
i assume that rdb isn't corrupted and can be read back by redis.
can redis-check-rdb parse this rdb file?
can you maybe post a very small rdb that reproduce it?

[2019-11-17 18:55] kristoff-it commented on #160
I just tested on my computer loading the latest released version of my module.
I created a couple of keys, added stuff to them, called `SAVE` and then rebooted the server.
All worked fine, keys got loaded back in and the content seemed to be properly preserved.

Here is where I make use of the custom type API: https://github.com/kristoff-it/redis-cuckoofilter/blob/4c617941c529d8f9a59bf4562883c7926

[2019-11-17 20:38] posix4e commented on #160
If you create a few keys using the module..ie follow the example in the
readme and you should be able to crash it. It's because it doesn't know how
wide the types are I assume.

[2019-11-18 10:13] kristoff-it commented on #160
@posix4e this is what I did before replying yesterday. rdb-tools doesn't need to know about my module specifically to be able to parse the RDB file.

Can you please make sure you're using the latest release of redis-cuckoofilter (v1.1.0) and try to reproduce the problem in a RDB file so that @oranagra can take a look?

I haven't been able to reproduce it on my own.

[2019-11-18 15:03] posix4e commented on #160
I'm sure I'm using the latest version

[2019-12-20 15:09] billcrook commented on #1
bump. Any chance on getting this? Parsing a 10g backup for me is brutal.

[2019-12-20 15:45] jvtm commented on #1
Wow, didn't even remember this one... Not working anymore on the project where this was required. Here's the exact tiny commit: https://github.com/jvtm/redis-rdb-tools/commit/fdd8134bed488462d0bfae449b542bb3d611f7d3 (failed to include this issue in commit message)

[2019-12-20 16:05] billcrook commented on #1
Thanks. I saw how simple it was so I [forked and patched](https://github.com/billcrook/redis-rdb-tools/commit/c8e1f7f943d8c8f593366c9d9a52556744faee0a) the latest version for my own needs, giving you credit :) Thanks again.

[2019-12-21 15:21] billcrook commented on #1
I dug around the code and noticed [this commit](https://github.com/sripathikrishnan/redis-rdb-tools/commit/b2640bdc4db24365e8a89ec32241460e8fc5e220) already introduced the lzf optimization in the version I'm using.

[2019-12-22 06:51] oranagra commented on #1
@billcrook the current code only uses the lzf optimization if you have the native library installed. maybe you just need to do `pip install lzf`?

does the commit @jvtm mentioned changes anything? seem to me that it does the same thing the current version already does. please let me know if i'm missing anything.

[2019-12-23 14:21] billcrook commented on #1
You mean `python-lzf`, right?

You are correct. It seems to do the same check for existence of lzf module.

[2019-12-23 15:08] oranagra commented on #1
@billcrook no, not `python-lzf` that's the python re-implementation.
the fast one, which we rather use is just `lzf` which are python bindings to the C implementation.

[2019-12-23 16:09] billcrook commented on #1
Are you sure about that? When I remove `python-lzf` and install `lzf` I get:
[code]

[2019-12-23 19:18] billcrook commented on #1
For reference: https://github.com/sripathikrishnan/redis-rdb-tools/pull/110#issue-160349318

[2019-12-24 09:20] oranagra commented on #1
@billcrook sorry, it seems that i was wrong.. `python-lzf` is the one that's native, and redis-rdb-tools has no use of the `lzf` library.
maybe @galcohen-redislabs can provide some insight or spot a regression.

[2019-12-24 09:23] galcohen-redislabs commented on #1
@billcrook Please provide some rough numbers on the rdb file:
Number of keys, average value size, time it takes to `rdb --command json` it.

[2020-02-10 07:14] alokch18 opened #161 "Invalid RDB version number 9 while extracting redis dump"
Hi Krishnan,

We are trying to extract the redis dump through your tool "redis-rdb-tools" but we are getting the below error while executing "rdb --command json /home/gstjdgusr/Redis_rdb_Tool/bk20200207-120000-6-GstMasterDb-1_of_2-16-1-2048.rdb > GstMasterDb_DC1_01.txt" under path "/home/gstjdgusr/Redis_rdb_Tool/redis-rdb-tools-master".

Kindly help us to resolve the same.

Traceback (most recent

[2020-02-10 09:52] oranagra commented on #161
@alokch18 it looks like maybe you're using an old version of redis-rdb-tools.
rdb version 9 (Redis 5.0) is supported long ago.

[2020-02-10 11:34] alokch18 commented on #161
Hi Oranagra,

I downloaded a package from the site itself for which I'm getting the same error. Can you please share the link to download the latest package.

[2020-02-10 12:01] oranagra commented on #161
@alokch18 this is the latest release: https://github.com/sripathikrishnan/redis-rdb-tools/archive/rdbtools-0.1.14.tar.gz

[2020-02-11 07:56] alokch18 commented on #161
@oranagra ,
Thanks for the link for latest release but I'm getting the same error as before when I used the latest package. It seems that it is using the old tool only even though I have moved the previous tool in different directory altogether. Also, kindly let us know if we need to install the tool post copying , unzipping and after doing tar -xvf "tool_name".

[gstjdgusr@TRNJDGD1 Redis_rdb_Tool

[2020-02-11 08:20] oranagra commented on #161
@alokch18 yes, you need to install the tool, the `rdb` command you run isn't executed from the current directory.. do `which rdb` and you'll see.
maybe you just need to `pip install --upgrade rdbtools`?

bottom line, you'll need to either find out how you installed it and upgrade it.
or if you want, you can run it from source using something like this:
[code]

[2020-02-12 05:31] alokch18 commented on #161
@oranagra When I tried to install using command "pip install --upgrade rdbtools", I got the below mentioned response.

Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7fc6b43ce910>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/rdb

[2020-02-12 07:09] oranagra commented on #161
@alokch18 i don't know what's wrong with your pip. when i try to install rdbtools i get the right version, which is 0.1.14 (see https://pypi.org/project/rdbtools/)

[2020-02-13 09:21] siva-7112 opened #162 "Number of keys mismatch"
Tried generating memory report but large number of keys are missing in memory.csv

[2020-02-13 09:43] oranagra commented on #162
@siva-7112 can you share more details?
which version of rdbtools you're using and which version of redis?
what are the types of keys missing (maybe they're all of the same type)?

maybe these are all volatile keys?
redis < 5 doesn't write expired keys into the rdb, so they could still show up in DBSIZE and INFO KEYSPACE, but will be missing from the rdb.
can you try loading this rdb back into redi

[2020-02-13 11:08] siva-7112 commented on #162
@oranagra
rdbtools - 0.1.4
redis version : 5.0.3

Total Number of keys in redis :
db0:keys=1643582,expires=0,avg_ttl=0
db1:keys=753355,expires=359421,avg_ttl=797119291
db2:keys=73837,expires=5355,avg_ttl=28691183
db15:keys=551540,expires=0,avg_ttl=0

After parsing using rdbtools for memory report total number of keys : 425639
After loading same dump in different redis the number of keys :

db0:key

[2020-02-13 12:02] oranagra commented on #162
@siva-7112 i guess we must be able to reproduce in order to investigate. it would be best if you can narrow down the scenario with some trial and error and find what types of keys are missing, so that you can upload an example rdb with just a few small keys that reproduce the problem.
while you're at it, feel free to fix the bug and issue a PR too 8-)

[2020-02-15 06:09] Gauravshah commented on #76
Did try pypy and the processing time came down from 12 hours to 4.4 hours. In case somebody else at the same thing.

[2020-02-20 11:16] Darkflib opened #163 "Not an issue - thanks"
Your code really pulled my nuts from the fire last night.

Due to a number of factors that came together we needed to restore a snapshot from AWS to an existing cluster - which isn't a normal procedure; they want you to create a new cluster.

So we ended up slaving a redis server from the new cluster, grabbing an rdb dump and piping the code out of your app and into the redis port of the existing

[2020-03-02 12:28] mmjdotdk opened #164 "python3 version?"
Is there any plans of porting this to python3? Python2 reached end-of-life January1, 2020.

[2020-04-24 10:51] johnny2002 opened #165 "no eof with justkeyvals"
when I export key values to a csv file with justkeyvals, there is no eof at last line of the csv file.

[2020-04-24 11:31] johnny2002 commented on #165
in order to add a "\r\n" at the end of csv file, please add the following lines in callbacks.py line 268, that is, the end of KeyValsOnlyCallback section:

`    def end_rdb(self):
        self._out.write(b'\r\n')
`

[2020-07-15 05:25] akshayvijapur commented on #128
@oranagra  i am not able to generate json from rdb which contains streams. Is it supported ?

[2020-07-15 06:48] oranagra commented on #128
@akshayvijapur no that's not supported yet. see https://github.com/sripathikrishnan/redis-rdb-tools/issues/128#issuecomment-464348680

[2020-09-03 03:47] zhaokai5520 commented on #164
use golang will quickly

[2020-09-16 03:05] andylee2020888 opened #168 "rdb -c memory , Throw an exception: "pkg_resources.DistributionNotFound: redis""
python 2.7
rdbtools 0.1.15

rdb -c memory redis.rdb --bytes 128 -f redis.csv

Throw an exception:
Traceback (most recent call last):
  File "/usr/local/bin/rdb", line 5, in <module>
    from pkg_resources import load_entry_point
  File "build/bdist.linux-x86_64/egg/pkg_resources.py", line 2603, in <module>
  File "build/bdist.linux-x86_64/egg/pkg_resources.py", line 666, in require
  File "build/b

[2020-09-17 14:42] chenwj1103 opened #169 "rdb -c memory dump.rdb --bytes 128 -f redis.csv"
run rdb -c memory dump.rdb --bytes 128 -f redis.csv,

but

Usage: rdb [options] /path/to/dump.rdb

Example : rdb --command json -k "user.*" /var/redis/6379/dump.rdb

rdb: error: no such option: --bytes

[2020-11-20 07:42] laoba25 opened #170 "how to speed up the rdb parse process"
When the rdb file too large, the parse process is very slow.
Can we speed up this ?

[2020-11-27 08:13] bearAss13 commented on #168
pip install redis

[2020-11-28 03:03] wudanyang6 commented on #108
do this: -e base64

[2020-12-03 06:42] chengkala opened #171 "question: how to restore redis 3.0.6 with redis 4.0's dump.rdb ?"
how can I migrate to version 6 from verison 8?   I want to store sorted sets  with string instead of binary double values. Is this possible ? And  Is there anything else that needs to be modified?

[2020-12-05 08:56] #171 closed, assigned to nobody

[2020-12-10 07:13] chengkala commented on #123
how can I feed the stream of bytes directly into redis-rdb-tools ？

[2020-12-22 01:58] cjhlai opened #173 "error:parser.parse(options.dump_file[0])"
when i run  rdb --command diff  node10.81.194.36:6379-1608286170593782-176141.rdb  | sort > dump1.txt
it return error below:
 rdb --command diff   176141.rdb  | sort > dump1.txt
^CTraceback (most recent call last):
  File "/usr/bin/rdb", line 9, in <module>
    load_entry_point('rdbtools==0.1.15', 'console_scripts', 'rdb')()
  File "/usr/lib/python2.7/site-packages/rdbtools-0.1.15-py2.7.egg/rdbtoo

[2021-04-13 03:34] Damanchen commented on #153
+1

[2021-04-21 08:37] sebd71 opened #174 "Support RedisTimeSeries data format"
Hi,
redis-rdb-tools seems to me a powerful tool to export efficiently data from rdb file, it is significant faster than redis-cli and doesn't crash on large DB (redis-cli crashes on the same DB / rdb).

But if I'm correct Redis TimeSeries data structure is not supported. rdb-tools can correctly retrieve key name but not key values.

Is there any plan (or does someone already did it somewhere fork/

[2021-05-11 03:03] jiaminxia opened #175 "redis6 is or not support?"
hi：
now i use this tools to test redis6(single to single)
Is redis6 still not supported?

there is a  error message:
 rmt_redis.c:6446 ERROR: Can't handle RDB format version -1694400504

[2021-05-28 11:09] id-id-id commented on #168
I have the same question, but i have installed redis. my redis is 5.0.6

[2021-05-29 10:16] sksksksksksksk commented on #161
I ran into this issue myself, and I discovered PyPI doesn't have an up-to-date rdbtools available for Python 2.

Python3 and pip3 work just fine.

`pip3 install --upgrade rdbtools  # should take care of this issue.`

[2021-07-20 01:21] snackpub commented on #169
I don’t know what your environment is, but this problem seems to have been fixed

[2021-07-20 01:32] snackpub opened #177 "Invalid export of large files"
0 | hash | conflict:student | 3893015332 | hashtable | 5336100 | 161409
How can I optimize in this situation, using sharding

[2021-08-04 10:20] tangyuan59 opened #178 "verison ?"
Can use it by python3 ?

[2021-08-18 01:39] #178 closed, assigned to nobody

[2021-09-15 15:46] ChrisMoriarty opened #179 "What versions of Python and python-lzf are supported?"
I created a fresh conda environment using Python 3.9, and while rdbtools installed successfully, I am unable to pip install python-lzf into it.   Neither their repository or this one list the base version requirements for getting everything installed properly.  Since it says python-lzf is "optional but highly recommended to speed up parsing", could you provide the base version requirements for eve

[2021-09-15 17:49] ChrisMoriarty commented on #179
As an update, I was able to successfully install on an RHEL8 machine.

python 3.9.6
python-lzf 0.2.4
rdbtools 0.1.15

My initial error was on my Macbook running Big Sur (11.5.2), and it seems the latest upgrade has messed with the location of xcode developer tools, and subsequently the C headers that python uses to build packages like python-lzf.

[2021-09-15 18:15] ChrisMoriarty commented on #179
Last comment, after many many failed attempts, the fix for my macbook was use to get homebrew fixed, and use it to install llvm.

To fix a path problem for brew, I follow the advice on this comment:
  https://github.com/httpie/httpie/issues/645#issuecomment-456902997

  1)brew doctor
  2)sudo chown -R $(whoami) $(brew --prefix)/*
  3)sudo install -d -o $(whoami) -g admin /usr/local/Frameworks

Aft

[2021-09-15 18:15] #179 closed, assigned to nobody

[2021-10-29 06:50] yunfeng79 opened #182 "Could not find suitable distribution for Requirement.parse('redis')"
redis-rdb-tools-rdbtools-0.1.15]# python setup.py install
rdbtools.cli.redis_profiler: module references __file__
creating dist
creating 'dist/rdbtools-0.1.15-py2.7.egg' and adding 'build/bdist.linux-x86_64/egg' to it
removing 'build/bdist.linux-x86_64/egg' (and everything under it)
Processing rdbtools-0.1.15-py2.7.egg
creating /usr/lib/python2.7/site-packages/rdbtools-0.1.15-py2.7.egg
Extracting

[2021-10-29 07:11] yunfeng79 opened #183 "Missing data"
127.0.0.1:6389> set product app8
OK
127.0.0.1:6389> set product xiaomi11
OK
127.0.0.1:6389> set product2 xiaomi11
OK
127.0.0.1:6389> set product3 xiaomi12
OK
127.0.0.1:6389> get product3
"xiaomi12"
127.0.0.1:6389> get product
"xiaomi11"
127.0.0.1:6389> get product2
"xiaomi11"
127.0.0.1:6389> set name1 111111
OK
127.0.0.1:6389> get name
"11111"

redis-rdb-tools-rdbtools-0.1.15

rdb --command json /

[2022-01-18 12:11] auroraslot opened #184 "how to see rdb-tools log？"
how to see rdb-tools log？

I use crontab to schedule rdb -c --memory xxx.rdb > xxx.csv
It didn't work.
But when I execute the shell script manually, it works.
why?

[2022-01-18 12:12] ChenWei-XiaoYi commented on #184
这是来自QQ邮箱的假期自动回复邮件。您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-01-18 12:12] smilyFw commented on #184
 
 您好，我已收到您的邮件，谢谢！！~~

[2022-03-03 17:59] ronaldpetty opened #185 "Redis 7 Support"
Hello, I just gave the rdb tool a try against an RDB file from Redis 7 rc 2.

[code]

Just for giggles, I changed the 10 to a 09 and it seems to work (at least diffing).

[2022-03-03 18:00] smilyFw commented on #185
 
 您好，我已收到您的邮件，谢谢！！~~

[2022-03-03 19:23] ronaldpetty commented on #185
别客气

https://github.com/sripathikrishnan/redis-rdb-tools/pull/186

[2022-03-21 01:55] junzhewenming commented on #113
hello
any progress on this issue?
i meet the same problem

[2022-03-21 01:56] smilyFw commented on #113
 
 您好，我已收到您的邮件，谢谢！！~~

[2022-04-11 01:37] Gauravshah commented on #170
similar to https://github.com/sripathikrishnan/redis-rdb-tools/issues/76

[2022-04-11 01:38] smilyFw commented on #170
 
 您好，我已收到您的邮件，谢谢！！~~

[2022-04-11 01:38] ChenWei-XiaoYi commented on #170
这是来自QQ邮箱的假期自动回复邮件。您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-04-15 09:24] gongruiyang commented on #182
I have this issue too, how do you fix this?

[2022-05-07 02:09] soroshsabz commented on #164
ITNOA

@sripathikrishnan Any plan for it? this package does not install correctly on ubuntu 20.04 and all of non pyhon2 linux distro

thanks

[2022-05-07 02:10] ChenWei-XiaoYi commented on #164
这是来自QQ邮箱的假期自动回复邮件。您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-05-07 02:10] smilyFw commented on #164
 
 您好，我已收到您的邮件，谢谢！！~~

[2022-05-07 06:35] 135zyf commented on #184
您好，很有可能你的crontab 里没有标注rdb-tools的绝对安装路径，或者环境变量的配置

[2022-05-07 07:28] auroraslot commented on #184
确实是这个问题，专业的！

[2022-05-10 12:19] #160 closed

[2022-08-05 15:27] madolson commented on #185
It should mostly work, there are a couple of new RDB op codes like functions that need to be supported.

[2022-08-05 15:27] smilyFw commented on #185
 
 您好，我已收到您的邮件，谢谢！！~~

[2022-08-05 15:27] ChenWei-XiaoYi commented on #185
这是来自QQ邮箱的假期自动回复邮件。您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-10-02 00:31] JStyle21 opened #187 "Invalid RDB version number 10"
Hi,

Is version 10 not supported?

[code]

[2022-10-02 00:31] smilyFw commented on #187
 
 您好，我已收到您的邮件，谢谢！！~~

[2022-10-26 16:12] yo-ga opened #188 "Maintained"
Hi @sripathikrishnan , is the repository still maintained?

If not, I'd like to fork the repository, and maintain the forked repository.
After that, I'll try to publish the Python package with the similar name.

[2022-10-26 16:13] ChenWei-XiaoYi commented on #188
这是来自QQ邮箱的假期自动回复邮件。您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-10-26 16:13] smilyFw commented on #188
 
 您好，我已收到您的邮件，谢谢！！~~

[2022-11-11 16:54] rhuddleston commented on #185
on upgrade Hash types are auto-converted RDB_TYPE_HASH -> RDB_TYPE_HASH_LISTPACK so at a minimum rdb-tools will need to be upgraded to understand how to decode HASH_LISTPACK objects.

https://github.com/redis/redis/pull/8887

[2022-11-11 16:54] smilyFw commented on #185
 
 您好，我已收到您的邮件，谢谢！！~~